{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/mypage.css' %}">
<div id="body_middle">
    <div class="my_profile">
        <div class="my_img_box">
            <img class="my_img" {% if user.img_profile != '' %} src="/media/{{ user.img_profile }}" {% else %} src="{% static 'resources/images/user.png' %}" {% endif %} alt="">
        </div>
        <div class="my_info">
            <div class="my_nickname">{{ user.nickname }}</div>

            {% if like_counts >= 100 %}
            <div class="my_grade">먹잘알</div>
            {% elif like_counts >= 50 %}
            <div class="my_grade">먹청년</div>
            {% elif like_counts >= 20 %}
            <div class="my_grade">먹소년</div>
            {% elif like_counts >= 10 %}
            <div class="my_grade">먹린이</div>
            {% elif like_counts >= 0 %}
            <div class="my_grade">먹알못</div>
            {% endif %}

            <div class="modify_myinfo">
                <a href="{% url 'member:agg_user_func' %}">수정</a>
            </div>

            <div class="my_wreview">리뷰 {{ review_counts }}개</div>
            <div class="my_likes">좋아요 {{ like_counts }}개</div>

        </div>
    </div>
    <div class="my_introduce">
        {% if user.introduce != None %}
            {{ user.introduce }}
        {% endif %}
    </div>
    
    <div class="my_reviews">
        {% for review in reviews %}
        <div class="my_review" id="my_review_{{forloop.counter}}">
            <a href="{% url 'review:review_detail' review_pk=review.pk %}">
                <img src="{{ review.photo.url }}" alt="" class="rank-review-image" style="width: 100%;">
            </a>
        </div>
        {% endfor %}
    </div>


    <a href="{% url 'member:logout' %}">로그아웃</a>
</div>
{% endblock %}


