<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'resources/css/index.css' %}">
    <title>먹잘알</title>
</head>
<body>
    <!-- <h1>4조 화이팅!</h1> -->
    <div id="body_top">
        <div id="body_top_logo">
            <div id="logo_image"></div>
            <span id="logo_text">먹잘알</span>
        </div>
        <div id="body_top_menu">
            
        </div>
    </div>

    <div id="body_middle"></div>

    <div id="body_foot"></div>
    
</body>
</html>