{% extends 'base.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/change_pw.css' %}">
<div id="body_middle">
    <h1>비밀번호 변경</h1>
    <div id="change_password">
        {% include 'include/form.html' with form=cp_form submit_title='변경' %}
        <a id='btn_agg' href="{% url 'member:agg_user_func' %}"><p id='btn_text'>돌아가기</p></a>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('label').text(' ');
        $('.form-group:nth-child(2) > input').attr({'placeholder':'기존 비밀번호'})
        $('.form-group:nth-child(3) > input').attr({'placeholder':'새 비밀번호'})
        $('.form-group:nth-child(4) > input').attr({'placeholder':'새 비밀번호 (재입력)'})
        // $('.help-block').text('기존 비밀번호를 잘못 입력하셨습니다.');
        $('form + div').text('');
    });
</script>
{% endblock %}