{% extends 'base.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/signup.css' %}">

<!-- <h1>회원가입</h1> -->
<div id="body_middle">
    <div id='middle_content'>
        <div id="middle_content_signup">
            <div id="signup_form">{% include 'include/form.html' with form=signup_form submit_title='회원가입' %}</div>
            <a id='btn_login' href="{% url 'member:login' %}"><p id='login_text'>돌아가기</p></a>
        </div>
    </div>
</div>
<script>

    $(document).ready(function(){
        $(".form-group > label").text(' ');
        // $("label").text(' ');
        $('input').css({"width":'100%','height':'40px'});
        $('div:nth-child(2) > input').prop({'placeholder':'아이디'});
        $('div:nth-child(3) > input').prop({'placeholder':'비밀번호'});
        $('div:nth-child(4) > input').prop({'placeholder':'비밀번호 재입력'});
        $('div:nth-child(5) > input').prop({'placeholder':'닉네임'});
        // $('div:nth-child(6) > select > option:nth-child(1)').text('성별');
        // $('div:nth-child(6) > select > option:nth-child(1)').css({'color':'grey'});
        $('div:nth-child(6) > input').prop({'placeholder':'이메일'});
        // $('div:nth-child(7) > label').text('생일:');
        // $('div:nth-child(7) > input').css({'width':'90%'});
        $("form > button").css({"width":'100%','height':'40px'});
        // $("form > button").css({"display":'none'});
    });

    $(function(){ 
        $("li").click(function(){ 
            // var chk = $(this).is(":checked");//.attr('checked'); 
            var label = $(this).children('label')
            var gender = label.children('input')
            if($(this).prev()){ 
                var other_li = $(this).prev()
                var other_label = other_li.children('label')
                other_li.css({'background-color':'white'}); 
                other_label.css({'color':'black'});
                other_label.children('input').attr({'checked':false});
            }
            if($(this).next()){ 
                var other_li = $(this).next()
                var other_label = other_li.children('label')
                other_li.css({'background-color':'white'}); 
                other_label.css({'color':'black'});
                other_label.children('input').attr({'checked':false});
            }

            gender.attr({'checked':true});
            // gender.css('box-shadow','0 1px 2px crimson');
            // var ul = $(this).parent()
            // console.log(label);
            // console.log(chk,gender);
            // label.css({'background-color':'white'});
            // gender.css('display','inline');
            $(this).css({'background-color':'crimson'});
            label.css({'color':'white'});
            // if(chk) $(this).prop('checked', false); 
            // else $(this).prop('checked', true);
            // console.log('chk2 : ',$(this).is(":checked"))
            // else $(".select_subject input").prop('checked', false); 
        }); 
    }); 
    
</script>

{% endblock %}