{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/map.css' %}">
<div id="kakao_map"></div>
<button id="my_location">내 위치 가져오기</button>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b77a2ab9b91385b038558204f7854460"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function(){
        var container = document.getElementById('kakao_map'); //지도를 담을 영역의 DOM 레퍼런스
        var options = { //지도를 생성할 때 필요한 기본 옵션
            center: new kakao.maps.LatLng(37.550663, 126.988161), //지도의 중심좌표.
            level: 4 //지도의 레벨(확대, 축소 정도)
        };

        var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
        
        function mongoAjax(lot, lat){
            $.ajax({
                type:'GET',
                url:"pos/",
                dataType:"json",
                // data:{"lot": 126.967775, "lat":  37.551604},     //test용
                data:{"lot": lot, "lat": lat },
                success: function(msg){
                    var mongo = msg['key'];
                    console.log(mongo)

                    for(var i=0; i<mongo.length; i++){
                        // console.log(mongo[i])
                        var monPos = new kakao.maps.LatLng(mongo[i]['location'][1], mongo[i]['location'][0])
                        // 마커 생성
                        var marker = new kakao.maps.Marker({
                            map: map,
                            title: mongo[i]['s_name'],
                            position: monPos,
                            clickable: true
                        })
                    }
                }
            })
        }

        // 버튼 클릭했을 때
        $("#my_location").on('click', function(){
            navigator.geolocation.getCurrentPosition(locationLoadSuccess, locationLoadSuccess);
        })

        // 버튼 클릭해서 위치가지고 오는것 성공 햇을 때
        function locationLoadSuccess(pos){
            // 현재 위치 받아오기
            var currentPos = new kakao.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
            // var currentPos = new kakao.maps.LatLng(37.551604, 126.967775);       //test용
            // 지도 이동(기존 위치와 가깝다면 부드럽게 이동)
            map.panTo( currentPos );
            mongoAjax(pos.coords.longitude, pos.coords.latitude)
        };

        // 지도를 드래그 했을 때 지도의 가운데 좌표값 기중으로 주위 검색
        kakao.maps.event.addListener(map, 'dragend', function() { 
            var latlng = map.getCenter();
            mongoAjax(latlng.getLng(), latlng.getLat())
        })

        

        function locationLoadError(pos){
            alert('위치 정보 가져오기 실패!!! 잠시뒤에 눌러주세요')
        };

    })

</script>
{% endblock %}





