{% extends 'base.html' %}

{% block content %}
<div id="body_middle">
    <!-- 엘라스틱 서치를 이용했을 때 나오는 음식점들 -->
    {% if result|length != 0 %}
    {% for i in result %}
    <div class="store_panel" style="border: solid 1px blue;">
        <div id="store_{{ i.id }}">
            <div class="store_img_box">
                
                {% for d in detail %}
                    {% if i.id|stringformat:"s" == d.id|stringformat:"s" %}
                        <a href="#">
                            <img src="{{ d.photo1 }}" class="store_img" style="width:200px;height:200px;">
                        </a>
                        <a href="#">
                            <img src="{{ d.photo2 }}" class="store_img" style="width:200px;height:200px;">
                        </a>
                        <a href="#">
                            <img src="{{ d.photo3 }}" class="store_img" style="width:200px;height:200px;">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="store_info">
                <p>id {{ i.id}}</p>
                <!-- 상점명 -->
                <div class="s_name">
                    <p><b>{{ i.source.s_name }}</b></p>
                </div>
                <!-- 순서대로 도로명, 지번 주소 -->
                <div class="s_add">
                    <p><b>도로명주소</b> {{ i.source.s_road }}</p>
                    <p><b>지번 주소</b> {{ i.source.s_add }}</p>
                </div>
                <!-- 음식 종류(한식, 중식, 기타...) -->
                <div class="s_kind">
                    <p>{{ i.source.s_kind }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}


</div>
{% endblock %}