{% extends 'base.html' %}

{% block content %}
<div class="meok-rank">
    <h1>먹보 랭킹🏆</h1>
    {% for name, num, id in rank_list %}
        <div class="rank_box" id="rank-{{ forloop.counter }}">
            <div class="rank_box_profile">
                <div class="profile_img"></div>
                <div class="profile_info">
                    <p>{{ forloop.counter }}위</p>
                    <p>{{ name }}</p>
                    <p>먹신(계급)</p>
                    {% for re in review_counts %}
                    <p>리뷰 개</p>
                    {% endfor %}
                </div>
            </div>
            
        {{ name }} {{ '님' }}  {{ '좋아요' }} {{ num }} {{ '개' }}
        </div>
        
    {% endfor %}
    {{ review_counts }}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {{ rank_objs }}
</div>

{% endblock %}