{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="meok-rank">
    <h1>먹보 랭킹🏆</h1>
    {% for name, num, id in rank_list %}
        <div class="rank_box" id="rank-{{ forloop.counter }}">
            <div class="rank_box_profile">
                <div class="profile_img_box">
                    {% for obj in rank_objs %}
                    {% if obj.id == id %}
                        <img class="profile_img" {% if obj.img_profile != '' %}src="/media/{{ obj.img_profile }}" {% else %} src="{% static 'resources/images/user.png' %}" {% endif %} alt="" style="width:100px;height:100px;">
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="profile_info">
                    <div class="info_ranking">{{ forloop.counter }}위</div>
                    
                    {% for obj in rank_objs %}
                    {% if obj.id == id %}
                    <div class="info_user">{{ obj.nickname }}</div>
                    {% endif %}
                    {% endfor %}

                    {% if num >= 100 %}
                    <div class="info_grade">먹잘알</div>
                    {% elif num >= 50 %}
                    <div class="info_grade">먹청년</div>
                    {% elif num >= 20 %}
                    <div class="info_grade">먹소년</div>
                    {% elif num >= 10 %}
                    <div class="info_grade">먹린이</div>
                    {% elif num >= 1 %}
                    <div class="info_grade">먹알못</div>
                    {% endif %}

                    {% for re in review_counts %}
                    {% if re.author == id %}
                    <div class="info_wreview">리뷰 {{re.count}}개</div>
                    {% endif %}
                    {% endfor %}
                    <div class="info_likes">좋아요 {{num}}개</div>
                </div>
            </div>


            <div class="rank_box_reviews">
                {% for review in reviews %}
                {% if review.author|stringformat:"s" == name %}
                <div class="rank_review">
                    <a href="{% url 'review:review_detail' review_pk=review.pk %}">
                        <img src="{{ review.photo.url }}" alt="" class="rank-review-image" style="width: 100%;">
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}