{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/review_detail.css' %}">
<div id="body_middle"> 
    {% include 'include/review.html' with review_type='detail' %}
</div>
<script>
    $(document).ready(function(){
        $('.panel-img').height($('.panel-img').width());
        $('.review_author_img').css({'width':'50px','height':'50px'});
        $('.review_div').height($('.review_div').width()+260);
    });

    $(function(){ 
        $("#user_delete").click(function(){ 
            confirm('피드를 정말 삭제하시겠습니까?');
        });
    });
</script>
{% endblock %}