{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/review_edit.css' %}">
<div id="body_middle">
	<!-- photo content service taste cleaned price -->

	<div id="user_info_div">
		{% if user.photo != ''%}
			<img class='user_img' src="../../media/review/Yuuun18.jpeg}}">
		{% else%}
			<img class='user_img' src="../../static/resources/images/user.png">
		{% endif %}
	</div>
	{% include 'include/form.html' with form=review_form submit_title='수정' enctype='file' %}
	</div>
</div>
{% endblock %}
