<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function(){
        var $ul = $(".pop_rel_keywords");
        $("#rel_search").hide();
        

        $('.pop_rel_keywords').on('click', 'li', function(event){
            var $click = $(event.target);
            // console.log($click.text())
            $('.ela_search_input').val($click.text());
            $.ajax({
                type:'GET',
                url:"autocom/",
                dataType:"json",
                data:{"key": $click.text()},
                success: function(msg){
                    $('.pop_rel_keywords').text("")
                    $("#rel_search").show();
                    auto = msg['key'];
                    // console.log(auto);
                    for(var i=0; auto.length; i++){
                        // console.log(auto[i]['s_name']);
                        $('.pop_rel_keywords').append('<li onclick="li_click()">'+auto[i]['s_name']+'</li>');
                    }
                }
            })
        })

        $(".ela_search_input").on("propertychange change keyup paste cut copy input", function(){
            var s_input = $(".ela_search_input").val()
            // console.log(s_input);
            $.ajax({
                type:'GET',
                url:"autocom/",
                dataType:"json",
                data:{"key": s_input},
                success: function(msg){
                    $('.pop_rel_keywords').text("")
                    $("#rel_search").show();
                    auto = msg['key'];
                    if(auto.length === 0) {      // 입력창이 비었다면 추천 검색어 리스트 숨김
                        $("#rel_search").hide();
                        console.log('없던게');
                    }
                    // console.log(auto);
                    for(var i=0; auto.length; i++){
                        // console.log(auto[i]['s_name']);
                        $('.pop_rel_keywords').append('<li onclick="li_click('+i+')">'+auto[i]['s_name']+'</li>');
                    }
                }
            })
        })

        

    })
    
</script>
<form action="/store/elaSearch/">
    <div class="search">
        <input type="text" class='ela_search_input' name="q" placeholder="맛집을 검색해보세요." value="">
        <button type="submit"><img class='ela_search_go' src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></button>
        <container id = "rel_search">
            <ul class="pop_rel_keywords">
            </ul>
        </container>
    </div>
</form>