<form action="" method="post"{% if enctype == 'file' %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group{% if field.erros %} has-error{% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}

    {% if form.non_field_errors %}
        {% for error in login_form.non_field_errors %}
        <p class="text-danger"><b>{{ error }}</b></p>
        {% endfor %}
    {% endif %}
    
    {% if form == review_form %}
        <div class="stars">
            <div class="star-service">
                <span class="star-title">서비스</span>
                <div class="star-rating space-x-4 mx-auto">
                    <input type="radio" id="s-5-stars" name="service" value=5 v-model="ratings"/>
                    <label for="s-5-stars" class="star pr-4">★</label>
                    <input type="radio" id="s-4-stars" name="service" value=4 v-model="ratings"/>
                    <label for="s-4-stars" class="star">★</label>
                    <input type="radio" id="s-3-stars" name="service" value=3 v-model="ratings"/>
                    <label for="s-3-stars" class="star">★</label>
                    <input type="radio" id="s-2-stars" name="service" value=2 v-model="ratings"/>
                    <label for="s-2-stars" class="star">★</label>
                    <input type="radio" id="s-1-star" name="service" value=1 v-model="ratings" />
                    <label for="s-1-star" class="star">★</label>
                </div>
            </div>
            <div class="taste-service">
                <span class="star-title">맛</span>
                <div class="star-rating space-x-4 mx-auto">
                    <input type="radio" id="t-5-stars" name="taste" value=5 v-model="ratings"/>
                    <label for="t-5-stars" class="star pr-4">★</label>
                    <input type="radio" id="t-4-stars" name="taste" value=4 v-model="ratings"/>
                    <label for="t-4-stars" class="star">★</label>
                    <input type="radio" id="t-3-stars" name="taste" value=3 v-model="ratings"/>
                    <label for="t-3-stars" class="star">★</label>
                    <input type="radio" id="t-2-stars" name="taste" value=2 v-model="ratings"/>
                    <label for="t-2-stars" class="star">★</label>
                    <input type="radio" id="t-1-star" name="taste" value=1 v-model="ratings" />
                    <label for="t-1-star" class="star">★</label>
                </div>
            </div>
            <div class="star-clean">
                <span class="star-title">위생상태</span>
                <div class="star-rating space-x-4 mx-auto">
                    <input type="radio" id="c-5-stars" name="clean" value=5 v-model="ratings"/>
                    <label for="c-5-stars" class="star pr-4">★</label>
                    <input type="radio" id="c-4-stars" name="clean" value=4 v-model="ratings"/>
                    <label for="c-4-stars" class="star">★</label>
                    <input type="radio" id="c-3-stars" name="clean" value=3 v-model="ratings"/>
                    <label for="c-3-stars" class="star">★</label>
                    <input type="radio" id="c-2-stars" name="clean" value=2 v-model="ratings"/>
                    <label for="c-2-stars" class="star">★</label>
                    <input type="radio" id="c-1-star" name="clean" value=1 v-model="ratings" />
                    <label for="c-1-star" class="star">★</label>
                </div>
            </div>
            <div class="star-price">
                <span class="star-title">가격</span>
                <div class="star-rating space-x-4 mx-auto">
                    <input type="radio" id="p-5-stars" name="price" value=5 v-model="ratings"/>
                    <label for="p-5-stars" class="star pr-4">★</label>
                    <input type="radio" id="p-4-stars" name="price" value=4 v-model="ratings"/>
                    <label for="p-4-stars" class="star">★</label>
                    <input type="radio" id="p-3-stars" name="price" value=3 v-model="ratings"/>
                    <label for="p-3-stars" class="star">★</label>
                    <input type="radio" id="p-2-stars" name="price" value=2 v-model="ratings"/>
                    <label for="p-2-stars" class="star">★</label>
                    <input type="radio" id="p-1-star" name="price" value=1 v-model="ratings" />
                    <label for="p-1-star" class="star">★</label>
                </div>
            </div>
        </div>
    {% endif %}

    <button class="btn btn-primary btn-block">{{ submit_title }}</button>
</form>