#body_middle{
    width:100%; height: 530px;
    margin: 20 auto;
    /* background-color: skyblue; */
}
#review_btn{display: none;}
.search {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.search::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

/* 리뷰 등록 전체 div (body_middle 하위) */
.review-create{
    /* background-color: skyblue; */
    width: 90%; height: 480px;
    margin: 0 auto;
}
/* 1. 음식점 검색 */
/* 음식점 검색 전체 div */
.search{
    /* background-color: darksalmon; */
    width: 100%;  max-height: 180px;
}
/* 음식점 검색 input */
.ela_search_input{
    width: 80%;
    font-size: 13px;
    padding-left: 15px;
}
/* 음식점 검색 등록 버튼 */
#go{
    background-color: crimson;
    border: none;
    border-radius: 5px;
    width: 17%; height: 35px;
    color: white;
}
/* 음식점 검색 결과 ul */
.pop_rel_keywords{
    background-color: white;
    border: 1px solid grey;
    border-radius: 2px;
    width: 70%; max-height: 130px;
    margin-left: 1%;
    overflow-y: scroll; overflow-x: scroll;
    /* padding-left: 3%; */
    list-style-type: none;
    z-index: 100;
    position: fixed;

}
/* 음식점 검색 결과 li */
.li_div,.store_div{
    width: 95%; height: 60px;
    padding-top: 10px;
    margin-left: 3px;
    padding: 10 0 8 5;
    font-size: 13px;
    border-bottom: 1px solid grey;
    overflow: none;
    
}
.li_div > p ,.store_div > p{ font-family: SCD6; font-size: 14px; }
.li_div > li,.store_div > li{
    height: 30px;
    max-height: 30px;
    position:relative; top:-17px;
    padding-top: 18px;
    overflow-y: none;
    /* background-color: aqua; */
}

form:nth-child(2){
    /* background-color: skyblue; */
    position: relative;
    top:10px;
    width: 100%; height: 450px;
}

/* 음식점 id 생략 */
.form-group:nth-child(8){ display: none; }

/* 1. 리뷰 사진 */
.form-group:nth-child(2){
    width: 97%; height: 200px;
    position: relative;
    /* background-color: red; */
}

.input-file-button{
    /* padding: 6px 25px; */
    /* background-color:skyblue; */
    border-radius: 4px;
    /* color: black; */
    border: 1px solid grey;
    cursor: pointer;
    width: 100%;
    position: absolute; 
    text-align: center;
    /* padding-top: 30%; */
    /* margin: 0 auto; */
}
/* 2. 리뷰 내용 */
.form-group:nth-child(3) > textarea{
    /* background-color: red; */
    width: 97%; height: 100px;
    padding: 10 0 0 10;
    margin-bottom: 15px;
    /* margin-top: 5px; */
}
/* 3. 별점 */
.form-group:nth-child(n+4):nth-child(-n+7){
    /* background-color: red; */
    width: 96%; height: 30px;
    border-top: 1px solid grey;
    padding-top: 10px;
    margin: 0 auto;
}

.form-group:nth-child(n+4):nth-child(-n+7) > label{
    font-family: SCD6;
    position: absolute; left:5%;
    width: 30%;
    text-align: right;
}

.form-group:nth-child(n+4):nth-child(-n+7) > div{ position: relative; left:38%;}

/* 등록 버튼 */
form > button{
    background-color: crimson;
    /* position: absolute; top:370px; */
    width:100%; height:40px;
    border: none; border-radius: 5px;
    color:white;
    font-size: 15px;
    margin-top: 20px;
}

#img_btn{
    position: absolute;
    top:20%; left: 45%;
    width: 35px; height: 35px;
    /* background-color: red; */
    background-image: url('../images/plus2.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}