<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% for i in result %}
        <p>id {{ i.id}}</p>
        <p>name {{ i.source.s_name }}</p>
        <p>road {{ i.source.s_road }}</p>
        <p>add {{ i.source.s_add }}</p>
        <p>kind {{ i.source.s_kind }}</p>
        {% endfor %}
    </div>
    

</body>
</html>